body{
    background: rgb(209, 203, 203);
}

#title, .subtitle, .post_title{

    color:blue;
}

.post_title{
    font-size: 16px;
    font-style: italic;
}

.post{
    background: white;
    padding: 10px;
    border: 3px solid black;
    margin: 10px;
}

.perfil{
    
    width: auto;
    height: auto; 
}